<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Belajar Vue Js Dasar</title>
	</head>
	<body>
		
		<h1>Bagaimana Directive v-model pada textarea ?</h1>
		<div id="app">
			<textarea cols="50" rows="10" v-model="message"></textarea>
			<p style="white-space:pre-line" v-if="message !== ''">{{ message }}</p>
		</div>

		<script type="text/javascript" src="assets/vendor/vue.js"></script> 
		<script type="text/javascript" src="assets/js/app.js"></script>
	</body>
</html>