<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Belajar Vue Js Dasar</title>
	</head>
	<body>
		
		<h1>Bagaimana Directive v-model pada radio button ?</h1>
		
		<div id="app">
			<label for="gender1">
				<input type="radio" value="Man" v-model="gender" id="gender1" name="gender" checked>
				Man
			</label>
			<br>
			<label for="gender2">
				<input type="radio" id="gender2" v-model="gender" name="gender" value="Girl">
				Girl
			</label>
			<br>
			<p v-if="gender !== ''">You are {{ gender }}</p>
		</div>

		<script type="text/javascript" src="assets/vendor/vue.js"></script> 
		<script type="text/javascript" src="assets/js/app.js"></script>
	</body>
</html>